table {
  width: 80%;
  /* Reduce width to center */
  margin: 40px auto;
  /* Center the table and add more spacing outside */
  border-collapse: collapse;
  background-color: #f0f8ff;
}

/* Table row and cell styling */
tr {
  border-bottom: 1px solid #cccccc;
}

td,
th {
  padding: 20px;
  /* Increase padding for more spacing inside */
  text-align: left;
  background-color: #e6e6fa;
}

/* Align text in columns */
th {
  text-align: left;
  /* Align column names to the left */
}

td {
  text-align: left;
}

/* Adjusting alternating row color */
tr:nth-child(even) {
  background-color: #dcdcdc;
}

/* Image adjustment for uniformity */
img {
  height: 100px;
  width: 100px;
  object-fit: cover;
}

body {
  background: #d8dadd;
  color: black;
  text-align: center;
}