nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #383737;
  /* Dark background color */
  color: white;
  /* Text color */
}

/* Navigation bar styling */

nav ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

nav ul li {
  font-size: 18px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 8px 16px;
}

/* on hover */
nav ul li a:hover {
  background-color: #555;
  border-radius: 5px;
}