<!-- project/templates/project/about.html -->


{% extends 'project/base.html' %}

{% block content %}

<div class="container">
  <h1>About</h1>
  <h2> todo: put images for each one on the left</h2>

  <div class="story">
    <h2>The Origin Story</h2>
    <p>
      Since discovering <span class="highlight">League of Legends</span> in 2021 and diving into the fascinating world
      of
      <span class="highlight">machine learning</span> in 2023, I’ve always envisioned merging these two passions.
    </p>
    <p>
      After learning how to develop a full-stack application, I decided to bring this idea to life by creating an
      interface that combines competitive gaming and artificial intelligence, allowing others to experience predictive
      modeling firsthand.
    </p>
  </div>

  <div class="model-details">
    <h2>Model Details</h2>
    <table>
      <tbody>
        <tr>
          <td>84.6%</td>
          <td>Model accuracy in predicting game outcomes</td>
        </tr>
        <tr>
          <td>Decision Trees<br>
            <img
              src="https://blog.synapticlabs.ai/hubfs/PhotoReal_Illustration_of_a_sprawling_decision_tree_emanating_0.jpg"
              alt="Decision Tree">
          </td>
          <td>
            A flexible and interpretable <span class="highlight">classification model</span> that predicts results based
            on in-game metrics.
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="data-details">
    <h2>Data Details</h2>
    <table>
      <tbody>
        <tr>
          <td>5,670 matches</td>
          <td>Number of matches used for training the model</td>
        </tr>
        <tr>
          <td>SILVER, GOLD, PLATINUM</td>
          <td>Ranks from which the match data was collected</td>
        </tr>
        <tr>
          <td>One year of rigorous data gathering</td>
          <td>
            The model leverages a year's worth of match data for meaningful predictions.<br>
            <img src="https://www.clipartmax.com/png/middle/237-2374167_hourglass-year-hourglass-icon-png.png"
              alt="Year Icon">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% endblock %}