<!-- project/templates/project/about.html -->


{% extends 'project/base.html' %}

{% block content %}


<h1>About</h1>

<!-- origin story -->
<div class="story">
  <h2>The Origin Story</h2>
  <p>
    Since discovering <span class="highlight">League of Legends</span> in 2021 and diving into the fascinating world
    of
    <span class="highlight">machine learning</span> in 2023, I’ve always envisioned merging these two passions.
  </p>
  <br>
  <p>
    After learning how to develop a <span class="highlight">full-stack application</span>, I decided to bring this
    idea to life by creating an
    interface that combines competitive gaming and artificial intelligence, allowing others to experience predictive
    modeling firsthand.
  </p>
  <br>
  <p>
    The idea of having a feedback page stemmed from <a href="https://codehive.buzz/" , target="_blank"> <span
        class="highlight">CodeHive</span></a>, an application I
    collaborated with 5 other to invent.
  </p>
</div>

<!-- model details -->
<div class="model-details">
  <h2>Model Details</h2>
  <div class="model-item">
    <p>
      <span class="big">84.6%</span> model accuracy in predicting game outcomes.
    </p>
  </div>
  <div class="model-item">
    <p>
      <span class="big">Decision Trees</span> <span class="highlight">classification model</span> is used.
    </p>
  </div>
</div>

<!-- data details -->
<div class="data-details">
  <h2>Data Details</h2>
  <div class="data-item">
    <p>
      <span class="big">5,670</span> matches used for training the model.
    </p>
  </div>
  <div class="data-item">
    <p>
      <span class="big">
        <span style="color:silver">SILVER</span>,
        <span style="color:gold">GOLD</span>,
        <span style="color:rgb(41, 135, 223)">PLATINUM</span>
      </span> players chosen for maximizing casualness.
    </p>
  </div>
  <div class="data-item">
    <p>
      <span class="big">One year</span> of rigorous data gathering for meaningful predictions.
    </p>
  </div>
</div>


{% endblock %}