<!-- project/templates/project/about.html -->


{% extends 'project/base.html' %}

{% block content %}


<h1>About</h1>
<h2> todo: put images for each one on the left</h2>

<div class="story">
  <h2>The Origin Story</h2>
  <p>
    Since discovering <span class="highlight">League of Legends</span> in 2021 and diving into the fascinating world
    of
    <span class="highlight">machine learning</span> in 2023, I’ve always envisioned merging these two passions.
  </p>
  <p>
    After learning how to develop a <span class="highlight">full-stack application</span>, I decided to bring this
    idea to life by creating an
    interface that combines competitive gaming and artificial intelligence, allowing others to experience predictive
    modeling firsthand.
  </p>
  <p>
    The idea of having a feedback page stemmed from <span class="highlight">CodeHive</span>, an application I
    collaborated with 5 other to invent.
  </p>
</div>

<div class="model-details">
  <h2>Model Details</h2>
  <table>
    <tbody>
      <tr>
        <td>84.6%</td>
        <td>Model accuracy in predicting game outcomes</td>
      </tr>
      <tr>
        <td>Decision Trees<br>
          <img
            src="https://blog.synapticlabs.ai/hubfs/PhotoReal_Illustration_of_a_sprawling_decision_tree_emanating_0.jpg"
            alt="Decision Tree">
        </td>
        <td>
          A flexible and interpretable <span class="highlight">classification model</span> that predicts results based
          on in-game metrics.
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="data-details">
  <h2>Data Details</h2>
  <table>
    <tbody>
      <tr>
        <td> <span>5,670</span> matches used for training the model</td>

      </tr>
      <tr>
        <td> <span> <span style="color:silver">SILVER</span>, <span style="color:gold">GOLD</span>, <span
              style="color:rgb(41, 135, 223)">PLATINUM</span></span> players for maximizing casualness</td>
      </tr>
      <tr>
        <td><span>One year</span> of rigorous data gathering for meaningful predictions.<br>
        </td>
      </tr>
    </tbody>
  </table>
</div>


{% endblock %}