<!-- project/templates/project/base.html -->

{% load static %}
<html>

<!-- Set CSS for all templates -->

<head>
  <title>FF Detector</title>
  <!--
  <link rel="stylesheet" href="{% static 'styles-blog.css' %}">
  -->
  <link rel="stylesheet" href="{% static 'styles-footer.css' %}">
  <link rel="stylesheet" href="{% static 'styles-header.css' %}">
  <link rel="stylesheet" href="{% static 'styles-project.css' %}">

</head>

<!-- Set this header for all templates -->

<body>
  <nav>
    <ul>
      <!-- URLS that don't depend on authenticated user -->
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'graphs' %}">Data Visualization</a></li>

      <!-- Requires logged in user -->
      {% if request.user.is_authenticated %}
      <li><a href="{% url 'show_prediction' request.user.pprofile.pk %}">Predict Game</a></li>
      <li><a href="{% url 'feedbacks' %}">Feedback Center</a></li>
      <li><a href="{% url 'about' %}">About Me</a></li>
      <li> Logged in as: {{ request.user }}.</li>

      <form action="{% url 'logout' %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="Logout">
      </form>

      {% else %}
      <li><a href="{% url 'login' %}">Predict Game</a></li>
      <li><a href="{% url 'login' %}">Login</a></li>
      <li><a href="{% url 'login' %}">Feedback Center</a></li>
      <li><a href="{% url 'about' %}">About</a></li>
      {% endif %}

    </ul>
  </nav>
  <div class="container">
    {% block content %}

    <!-- fill in this section with specific page detail -->

    {% endblock %}
  </div>
  <!-- footer -->
  <footer>
    <div class="footer-container">
      <div class="footer-right">
        <h4>Follow Me</h4>
        <!-- only for display reasons, not putting actual links! -->
        <a href="#">Instagram</a>
        <a href="#">LinkedIn</a>
        <a href="#">GitHub</a>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2024 Mensun Wang Webpage. All rights reserved.</p>
    </div>
  </footer>

</body>

</html>