<!-- project/templates/project/create_feedback_form.html -->

{% extends 'project/base.html' %}

{% block content %}
<h2>Create Feedback</h2>

<!-- show create feedack form -->
<form method="POST" class="sorting-form">
  {% csrf_token %}
  <fieldset>
    <div class="form-options">
      <!-- Render form fields manually to match the layout -->
      {% for field in form %}
      <label for="{{ field.id_for_label }}">
        <span>{{ field.label_tag }}</span>
        {{ field }}
        {{ field.errors }}
      </label>
      {% endfor %}
    </div>
    <button type="submit" name="submit" class="btn-submit">Create Status Message</button>
  </fieldset>
</form>

<!-- Cancel form -->
<form action="{% url 'feedbacks' %}">
  <fieldset>
    <button type="submit" class="btn-submit">Cancel</button>
  </fieldset>
</form>

{% endblock %}