<!-- project/templates/project/graph_search_form.html -->

<h3>Filter Graph Options</h3>

<form action="{% url 'graphs' %}">
  {% csrf_token %}
  <table>
    <!-- filter for outcome of win OR no win -->
    <tr>
      <td style="font-weight:bold">Outcome</td>
      <td>
        <input type="radio" name="outcome" value="WIN"> Win <br>
        <input type="radio" name="outcome" value="LOSS"> Loss <br>
      </td>
    </tr>
    <tr>
      <td style="font-weight:bold">Remove Filters</td>
      <td>
        <input type="radio" name="outcome" value="BOTH"> Remove <br>
      </td>

    </tr>
    <tr>
      <td></td>
      <td>
        <input type="submit">
      </td>
    </tr>
  </table>
</form>