<!-- project/templates/project/graph_search_form.html -->

<form action="{% url 'graphs' %}" method="GET" class="sorting-form">
  {% csrf_token %}
  <fieldset>
    <!-- Give filtering options for "WIN" games or "LOSS" games-->
    <legend>Filter Graph Options</legend>
    <div class="form-options">
      <label>
        <input type="radio" name="outcome" value="WIN">
        <span>Win</span>
      </label>
      <label>
        <input type="radio" name="outcome" value="LOSS">
        <span>Loss</span>
      </label>
      <label>

        <!-- An option to remove filters -->
        <input type="radio" name="outcome" value="BOTH">
        <span>Remove Filters</span>
      </label>
    </div>
    <button type="submit" class="btn-submit">Apply Filters</button>
  </fieldset>
</form>