<!-- project/templates/project/login.html -->
{% extends 'project/base.html' %}
{% block content %}

<!-- Show login page-->
<div class="sign-in-container">
  <h2 class="sign-in-header">Sign In</h2>
  <div class="credentials-section">
    <!-- temporary credentials for any user -->
    <h3 class="credentials-title">Please use these credentials for now:</h3>
    <ul class="credentials-list">
      <li><strong>Username:</strong> yash</li>
      <li><strong>Password:</strong> finalproject</li>
    </ul>
  </div>
  <form method="POST" class="sign-in-form">
    {% csrf_token %}
    <div class="form-fields">
      {{ form }}
    </div>
    <input type="submit" name="submit" class="cta-button" value="Sign In" style="width:100%">
    {% if request.GET.next %}
    <input type="hidden" name="next" value="{{ request.GET.next }}">
    {% else %}
    <input type="hidden" name="next" value="{% url 'home' %}">
    {% endif %}
  </form>
</div>

{% endblock %}