<!-- restaurant/templates/main.html
 Show a basic HTML form to the client -->

{% extends 'restaurant/base.html' %}

{% block content %}

<h1> Soogil </h1>
<div>

  <h5>108 E 4th St, New York, NY 10003</h5>

  <table class="center">

    <tr>
      <td>
        <h5>Tuesday - Thursday</h5>
      </td>
      <td>
        <h5>5:30pm - 10:30pm</h5>
      </td>
    </tr>
    <tr>
      <td>
        <h5>Friday - Saturday</h5>
      </td>
      <td>
        <h5>5pm - 10pm</h5>
      </td>
    </tr>

    <tr>
      <td>
        <h5>Friday - Saturday</h5>
      </td>
      <td>
        <h5>5pm - 10pm</h5>
      </td>
    </tr>


  </table>


  <img src={{image}} alt="restaurant-image" style: width="400px" ; height="auto"> </td>


  <table class="center">

  </table>

</div>

{% endblock %}