<!-- mini_fb/templates/mini_fb/profile.html -->

{% extends 'mini_fb/base.html' %}
<h1> Profile </h1>


{% block content %}

<!-- display a context variable called profiles -->
<main class="grid-container">
  <!-- Show a profile -->



  <article class="featured">
    <div>
      <h1> {{profile.first_name}} {{profile.last_name}} </h1>



      <h3>{{profile.city}}</h3>

      <!-- update profile -->
      <a href="{% url 'update_profile' profile.pk %}">
        <button type="button" style="height:50px; width:120px; color:rgb(163, 87, 28); margin:30px; border-radius:12px">
          Update
          Profile</button>
      </a>

      <!-- add status message  -->
      <a href="{% url 'create_status' profile.pk %}">
        <button type="button" style="height:50px; width:120px; color:rgb(163, 87, 28); margin:30px; border-radius:12px">
          Create
          Status</button>
      </a>
      <br>

      <img src="{{profile.profile_image_url}}" alt="profile pic was supposed to be here" style="height:500; width:500">


    </div>
  </article>


  <!-- show the status messages -->

  <table>
    <tr>
      <th style="color:brown; text-align:center">
        Status Messages
      </th>
      <th style="color:brown; text-align:center">
        Update Status Messages
      </th>
      <th style="color:brown; text-align:center">
        Delete Status Messages
      </th>

    </tr>
    {% for status in profile.get_status_messages %}
    <div>
      <tr>
        <td style="color: rgb(44, 171, 128); text-align:center">
          <div style="font-weight:bold">
            {{status.message}}
          </div>
          <br>
          {{status.published}}
          <!-- show images for status msg, if exists -->
          {% for img in status.get_images %}
          <br>
          <img src='{{img.image_file.url}}' alt='{{img.image_file.url}}'>

          {% endfor %}
        </td>
        <td style="color: rgb(44, 171, 128); text-align:center">
          <a href="{% url 'update_status' status.pk %}"> update </a>
        </td>
        <td style="color: rgb(44, 171, 128); text-align:center">
          <a href="{% url 'delete_status' status.pk %}"> delete </a>
        </td>
      </tr>
    </div>
    {% endfor %}
  </table>



</main>

{% endblock %}