<!-- blog/templates/blog/show_all.html -->

{% extends 'mini_fb/base.html' %}
<h1> Show all Profiles </h1>


{% block content %}

<!-- display a context variable called articles -->
<main class="grid-container">
  <!-- loop to display each artcle -->
  {% for p in profiles %}
  <article>
    <img src="{{p.profile_image_url}}" alt="image for profile here">
    <div>
      <h2> {{p.first_name}} </h2>
      <h3> something</h3>

      <p>text</p>
    </div>
  </article>
  {% endfor %}
</main>

{% endblock %}