<!-- mini_fb/templates/mini_fb/profile.html -->

{% extends 'mini_fb/base.html' %}
<h1> Profile </h1>


{% block content %}
<!-- add to navbar profile page & news feed-->
{% if request.user == profile.user %}
<li><a href="{% url 'show_profile' profile.pk %}">Profile Page</a></li>
<li><a href="{% url 'show_feed' profile.pk %}">News Feed</a></li>
{% endif %}
</ul>
</nav>
<!-- display a context variable called profiles -->
<main class="grid-container">
  <!-- Show a profile -->



  <article class="featured">
    <div>
      <h1> {{profile.first_name}} {{profile.last_name}} </h1>



      <h3>{{profile.city}}</h3>

      <!-- only allow CRUD if user is the owner of this profile -->

      <!-- update profile -->
      {% if request.user == profile.user %}
      <a href="{% url 'update_profile' profile.pk %}">
        <button type="button" style="height:50px; width:120px; color:rgb(163, 87, 28); margin:30px; border-radius:12px">
          Update
          Profile</button>
      </a>

      <!-- add status message  -->
      <a href="{% url 'create_status' profile.pk %}">
        <button type="button" style="height:50px; width:120px; color:rgb(163, 87, 28); margin:30px; border-radius:12px">
          Create
          Status</button>
      </a>
      {% endif %}
      <br>

      <img src="{{profile.profile_image_url}}" alt="profile pic was supposed to be here" style="height:500; width:500">


    </div>
  </article>


  <!-- show the status messages -->

  <table>
    <tr>
      <th style="color:brown; text-align:center">
        Status Messages
      </th>
      {% if request.user == profile.user %}
      <th style="color:brown; text-align:center">
        Update Status Messages
      </th>

      <th style="color:brown; text-align:center">
        Delete Status Messages
      </th>
      {% endif %}

    </tr>
    {% for status in profile.get_status_messages %}
    <div>
      <tr>
        <td style="color: rgb(44, 171, 128); text-align:center">
          <div style="font-weight:bold">
            {{status.message}}
          </div>
          <br>
          {{status.published}}
          <!-- show images for status msg, if exists -->
          {% for img in status.get_images %}
          <br>
          <img src='{{img.image_file.url}}' alt='{{img.image_file.url}}'>

          {% endfor %}
        </td>
        {% if request.user == profile.user %}
        <td style="color: rgb(44, 171, 128); text-align:center">
          <a href="{% url 'update_status' status.pk %}"> update </a>
        </td>
        <td style="color: rgb(44, 171, 128); text-align:center">
          <a href="{% url 'delete_status' status.pk %}"> delete </a>
        </td>
        {% endif %}
      </tr>
    </div>
    {% endfor %}
  </table>


  <!-- show friends -->

  <table>
    <tr>
      <th style="color: brown; text-align:center"> {{profile.first_name}} {{profile.last_name}}'s Friends
      </th>
    </tr>

    {% for f_profile in profile.get_friends %}
    <tr>
      <td style="text-align:center">
        <a href="{% url 'show_profile' f_profile.pk %}">
          <img src="{{f_profile.profile_image_url}}" alt="f_profile.first_name pic supposed to be here ._?"> </a>
        <a href="{% url 'show_profile' f_profile.pk %}">
          <h4> {{f_profile.first_name}} {{f_profile.last_name}}</h2>
        </a>
      </td>
    </tr>
    {% endfor %}
  </table>


  <!-- button for finding suggested friends -->
  {% if request.user == profile.user %}
  <a href="{% url 'suggest_friends' profile.pk %}">
    <button type="button" style="height:80px; width:240px; color:rgb(163, 87, 28); margin:30px; border-radius:12px">
      Find Friend Suggestions
    </button>
  </a>
  {% endif %}


</main>

{% endblock %}