<!-- quotes/templates/quotes/about.html -->

{% extends 'quotes/base.html' %}

{% block content %}
<h1> About </h1>

<div>
  <p> Park Ji-min, known mononymously as Jimin, is a South Korean singer, songwriter and dancer. In 2013, he made his
    debut as a member of the South Korean boy band BTS, under the record label Big Hit Entertainment.
  </p>
</div>

<hr>

<h2> About Website Creator</h2>
<div>
  <p> Hi, I am Mensun Wang. I grew up and am from New York, and I came to BU to pursue a Bachelor's Degree in Computer
    Science. With a
    strong passion for video gaming and AI, I plan to further refine my skills in machine learning and data analysis.
  </p>
</div>

{% endblock %}